body {
  margin: 0;
}

a {
  color: #00f;
}

/*
 * Tree
 */
.tree {
  width: calc(125px * 8 + 30px * 7);
  display: flex;
  flex-wrap: wrap;
}

.tree__root {
  width: 100%;
}

.tree__subtree {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

/*
 * Node Block
 */
.node-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tree__subtree > .node-block:nth-child(2),
.tree__subtree > .node-block:nth-child(3) {
  width: 50%;
}

.tree__subtree > .node-block:nth-child(4),
.tree__subtree > .node-block:nth-child(5),
.tree__subtree > .node-block:nth-child(6),
.tree__subtree > .node-block:nth-child(7) {
  width: 25%;
}

/*
 * Node
 */
.node {
  position: relative;
  box-sizing: border-box;
  width: 125px;
  padding: 15px 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: small;
  text-align: center;
}

.node--root {
  background-color: #ff0;
}

.node--direct {
  background-color: #0f0;
}

.node--indirect {
  background-color: #ccc;
}

.node > .top-link {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(100%, -50%);
}
